<footer>
    <div class="container">
        <p class="small">© {{ site.title[locale] }} 2022. {{ site.rights[locale] }}. {{ site.build[locale] }} v{{ site.version }}. <a href="#top">{{ site.top[locale] }}</a></p>
        <p>&#10084;</p>
    </div>
</footer>