<footer>
    <div class="container">
        <p>© {{ site.title[locale] }} 2022. {{ site.rights[locale] }}. {{ site.build[locale] }} v{{ site.version }}. <a href="#top">{{ site.top[locale] }}</p>
    </div>
</footer>