<nav>
    <div class="container">
        <ul>
            {% for item, section in site.sections %}
                <li>
                    <a href="#{{ section[locale] | slugify }}">{{ section[locale] }}</a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</nav>