<nav>
    <ul>
        {% for nav in collections[locale] %}
            <li>
                <a href="{{ nav.url }}" {% if page.url == nav.url %} style="font-weight: bold"{% endif %}>{{ nav.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>