<section id="spouses">
    <h2>{{ site.spouses[locale] }}</h2>
    <dl>
        <dt>{{ site.who[locale] }}</dt>
        <dd>{{ site.romanAndElena[locale] }}</dd>
        <dt>{{ site.where[locale] }}</dt>
        <dd>{{ site.date }}</dd>
        <dt>{{ site.when[locale] }}</dt>
        <dd>{{ site.location[locale] }}</dd>
    </dl>
</section>