<section id="{{ site.sections.contacts[locale] | slugify }}" class="{{ site.sections.contacts.en | slugify }} section section-theme--2">
    <div class="container">
        <div class="section-header">
            {% if locale == 'it' %}
                {% include 'svgs/contact-it.svg' %}
            {% else %}
                {% include 'svgs/contact-en.svg' %}
            {% endif %}
            <h2>{{ site.sections.contacts[locale] }}</h2>
        </div>
        <div class="section-body">
            {% if locale == 'it' %}
                <p>Se non avete nessun potere telepatico potete contattarci qui:</p>
                <ul class="cards cards--3">
                    <li class="cards-item">
                        <dl>
                            <dt class="label">Elena:</dt>
                            <dd class="small"><a href="tel:+353894338937">+353 894 338 937</a></dd>
                            <dd class="micro">Inglese e Italiano</dd>
                        </dl>
                    </li>
                    <li class="cards-item">
                        <dl>
                            <dt class="label">Roman:</dt>
                            <dd class="small"><a href="tel:+353851252967">+353 851 252 967</a></dd>
                            <dd class="micro">Inglese e Italiano</dd>
                        </dl>
                    </li>
                    <li class="cards-item">
                        <dl>
                            <dt class="label">Royal Marine Hotel:</dt>
                            <dd class="small"><a href="tel:+35312300030">+353 123 000 30</a></dd>
                            <dd class="micro">Solo inglese</dd>
                        </dl>
                    </li>
                </ul>
            {% else %}
                <p>If you don’t have any telepathic power, you can contact us here:</p>
                <ul class="cards cards--3">
                    <li class="cards-item">
                        <dl>
                            <dt class="label">Elena</dt>
                            <dd class="small"><a href="tel:+353894338937">+353 894 338 937</a></dd>
                            <dd class="micro">English and Italian</dd>
                        </dl>
                    </li>
                    <li class="cards-item">
                        <dl>
                            <dt class="label">Roman</dt>
                            <dd class="small"><a href="tel:+353851252967">+353 851 252 967</a></dd>
                            <dd class="micro">English and Italian</dd>
                        </dl>
                    </li>
                    <li class="cards-item">
                        <dl>
                            <dt class="label">Royal Marine Hotel</dt>
                            <dd class="small"><a href="tel:+35312300030">+353 123 000 30</a></dd>
                            <dd class="micro">English only</dd>
                        </dl>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</section>