<section id="{{ site.sections.gifts[locale] | slugify }}" class="{{ site.sections.gifts.en | slugify }} section section-theme--2">
    <div class="container">
        <div class="section-header">
            {% include 'svgs/gifts.svg' %}
            <h2>{{ site.sections.gifts[locale] }}</h2>
        </div>
        <div class="section-body">
            <ul>
                {% if locale == 'it' %}
                    <p>Come tutti, anche noi abbiamo molti sogni. Il primo che vorremmo realizzare come una famiglia è quello di avere una casa tutta nostra dove crescere il nostro amore ed invitarvi a passare del tempo piacevole con noi. Sentitevi liberi di contribuire nel modo che più vi aggrada:</p>
                    <ul class="cards cards--2">
                        <li class="cards-item">
                            <dl>
                                <dt class="label">Beneficiario</dt>
                                <dd>Elena Loiotile</dd>
                                <dt class="label">IBAN</dt>
                                <dd><code>IE13AIBK93104771203013</code></dd>
                                <dt class="label">BIC</dt>
                                <dd><code>AIBKIE2D</code></dd>
                            </dl>
                        </li>
                        <li class="cards-item">
                            <dl>
                                <dt class="label">Beneficiario</dt>
                                <dd>Roman Horokhovatskyy</dd>
                                <dt class="label">IBAN</dt>
                                <dd><code>IE94BOFI90001790707666</code></dd>
                                <dt class="label">BIC</dt>
                                <dd><code>BOFIIE2DXXX</code></dd>
                            </dl>
                        </li>
                    </ul>
                    <p>Porta con te al matrimonio in una busta da lettere un ricordo che hai con noi o con uno di noi. Lo leggeremo in privato.</p>
                {% else %}
                    <p>Like everyone, we have many dreams. The first one as a family that we wish came true is the one to have a home to call our own, where we’ll grow our love and invite you to spend some lovely time with us. Feel free to contribute in the way that suits you best:</p>
                    <ul class="cards cards--2">
                        <li class="cards-item">
                            <dl>
                                <dt class="label">Beneficiary</dt>
                                <dd>Elena Loiotile</dd>
                                <dt class="label">IBAN</dt>
                                <dd><code>IE13AIBK93104771203013</code></dd>
                                <dt class="label">BIC</dt>
                                <dd><code>AIBKIE2D</code></dd>
                            </dl>
                        </li>
                        <li class="cards-item">
                            <dl>
                                <dt class="label">Beneficiary</dt>
                                <dd>Roman Horokhovatskyy</dd>
                                <dt class="label">IBAN</dt>
                                <dd><code>IE94BOFI90001790707666</code></dd>
                                <dt class="label">BIC</dt>
                                <dd><code>BOFIIE2DXXX</code></dd>
                            </dl>
                        </li>
                    </ul>
                    <p>Bring with you to the wedding an envelope with a memory you have with us or one of us. We will read it in private.</p>
                {% endif %}
            </ul>
        </div>
    </div>
</section>