<section id="{{ site.sections.location_and_booking[locale] | slugify }}" class="{{ site.sections.location_and_booking.en | slugify }} section section-theme--2">
    <div class="container">
        <div class="section-header">
            {% if locale == 'it' %}
                {% include 'svgs/location-it.svg' %}
            {% else %}
                {% include 'svgs/location-en.svg' %}
            {% endif %}
            <h2>{{ site.sections.location_and_booking[locale] }}</h2>
        </div>
        <div class="section-body">
            {% if locale == 'it' %}
                <p>Il nostro matrimonio avrà luogo il 12 Dicembre 2022 nel meraviglioso Royal Marine Hotel, che si trova subito di fronte al mare. La cerimonia si svolgerà nella Kingstown Suite, e il ricevimento nella Martello Suite.</p>
                <address>
                    <b>Sito web dell’hotel:</b> <a href="https://www.royalmarine.ie" rel="noopener noreferrer nofollow" target="_blank">https://www.royalmarine.ie</a>
                    <br><b>Indirizzo:</b> Marine Road, Dún Laoghaire, Dublin A96 K063, Ireland
                </address>
                
                <figure class="icon">
                    {% include 'svgs/train.svg' %}
                </figure>
                <h3>Direzioni</h3>
                <p>Prima di guidarvi attraverso i trasporti pubblici irlandesi, è importante mansionare che non dovrete sorprendervi se i nomi delle stazioni o delle fermate dell’autobus sembrano cambiare in continuazione. Questo accade perché in Irlanda si usano entrambi i nomi: quello inglese e quello gaelico. Quindi tutte le fermate e le stazioni hanno due nomi. Io mensionerò solo quelli inglesi. Un altro usanza locale consiste nel dire “thank you” al conduttore dell’autobus ogni qualvolta che si scende dal mezzo. Siete incoraggiati a fare lo stesso se non volete essere scortesi. I biglietti dell’autobus possono essere acquistati sull’autobus stesso, ma accettano solo monete e non danno il resto. Il biglietto per la dart può essere acquistato ad ogni stazione a delle macchinette, qui potete selezionare la lingua che preferite e pagare con monete, banconote o carta.</p>
                <p><b>Come raggiungere l’hotel dall’aeroporto con i mezzi pubblici:</b> prendete autobus n. 747 (ci mette 17 minuti per raggiungere il centro, costo: €7 per un biglietto singolo, c’è uno sconto se si compra il biglietto di ritorno insieme a quello dell’andata). Oppure ci sono degli autobus più economici come il n. 41 e il n. 16 (entrambi ci mettono 45 minuti per arrivare in centro città, costo: €3.30). Una volta arrivati in centro prendete la Dart (un treno che viaggia nella contea di Dublino lungo la costa) alla stazione chiamata Connolly Station, in direzione Greystones. Scendete poi alla stazione di Dún Laoghaire (pronunciato Dan Liri). L’hotel si trova a 5 minuti a piedi da lì.</p>
                <p><b>Come raggiungere l’hotel dal centro città con i mezzi pubblici:</b> prendete la Dart (un treno che viaggia nella contea di Dublino lungo la costa) alla stazione chiamata Connolly Station, in direzione Greystones. Scendete poi alla stazione di Dún Laoghaire (pronunciato Dan Liri). L’hotel si trova a 5 minuti a piedi da lì.</p>
                
                <figure class="icon">
                    {% include 'svgs/bed.svg' %}
                </figure>
                <h3>Prenotazioni</h3>
                <p>Se desiderate spendere delle notti al Royal Marine Hotel, potete prenotare individualmente e pagare la vostra prenotazione in anticipo o il giorno stesso. Se durante la prenotazione mensionerete che siete ospiti al nostro matrimonio potrete beneficiare di questi prezzi speciali:</p>
                <ul>
                    <li>BB €110.00 Singola a notte</li>
                    <li>BB €125.00 Doppia a notte</li>
                </ul>
                <p>
                    <b>Per prenotare contattare:</b>
                    <br>
                    <a href="tel:+353012712523">+353 012 712 523</a> or <a href="mailto:reservation@royalmarine.ie">reservation@royalmarine.ie</a> (dovrete prenotare in lingua inglese).
                </p>
            {% else %}
                <p>Our Wedding will take place on 12th December 2022 at the gorgeous Royal Marine Hotel, just in front of the sea. We will have our wedding ceremony in the Kingstown Suite and the reception in the Martello Suite.</p>
                <address class="cards">
                    <div class="cards-item">
                        <b>Hotel website:</b> <a href="https://www.royalmarine.ie" rel="noopener noreferrer nofollow" target="_blank">https://www.royalmarine.ie</a>
                        <br><b>Address:</b> Marine Road, Dún Laoghaire, Dublin A96 K063, Ireland
                    </div>
                </address>

                <figure class="icon">
                    {% include 'svgs/train.svg' %}
                </figure>
                <h3>Directions</h3>
                <p>Before navigating you through the Irish transport, I may mention that you should not be surprised if the name of a station or a bus stop seems to change. This is because, in Ireland, they use both names: the English and the Gaelic. So each stop has two names. I will mention only the English ones below. Another local custom to mention is that they say “thank you” to the bus driver every time they get off the bus. You are encouraged to do the same if you don’t want to be rude. The bus ticket can be purchased on the bus, but they accept only coins and don’t give you the change. Dart’s tickets can be purchased at any station from a machine. You can select your preferred language and pay cash or by card.</p>
                <p><b>How to get to the hotel from the airport by public transport:</b> take the bus n. 747 (with this bus, it takes 17 minutes to get to the city centre, the fee is €7 single ticket, there is a discount if you buy the return ticket at the same time). Or you can take cheaper buses such as n. 41 & n. 16 (with those busses, it takes 45 minutes to get to the city centre, the fee is €3.30). Once you get to the city centre, take the Dart at Connolly Station toward Greystones and get off at Dún Laoghaire station. The hotel is within walking distance.</p>
                <p><b>How to get to the hotel from the city centre with public transport:</b> take the Dart (train) at Connolly Station, get off at Dún Laoghaire. The hotel is within walking distance.</p>

                <figure class="icon">
                    {% include 'svgs/bed.svg' %}
                </figure>
                <h3>Booking</h3>
                <p>If you wish to spend the night at the Royal Marine Hotel, you can book individually and pay for your own booking in advance or on the day. If during the booking process you will mention that you are a guest at our wedding, you will benefit from this special rate:</p>
                <ul>
                    <li>BB €110.00 Single per night</li>
                    <li>BB €125.00 Double per night</li>
                </ul>
                <p>
                    <b>To book contact:</b>
                    <br>
                    <a href="tel:+353012712523">+353 012 712 523</a> or <a href="mailto:reservation@royalmarine.ie">reservation@royalmarine.ie</a>.
                </p>
            {% endif %}
            {% include 'svgs/hotel.svg' %}
        </div>
    </div>
</section>