<section id="{{ site.sections.media[locale] | slugify }}" class="{{ site.sections.media.en | slugify }} section section-theme--1">
    <div class="container">
        <div class="section-header">
            {% include 'svgs/media.svg' %}
            <h2>{{ site.sections.media[locale] }}</h2>
        </div>
        <div class="section-body">
            {% if locale == 'it' %}
                <p>Siamo emozionati di condividere con voi le memorie di questo giorno speciale. È un piacere vedervi intorno a noi e ricordarci dell’amore che ci avete mostrato quel giorno. Siamo eternamente grati per la vostra presenza e per lo sforzo che avete fatto per essere presenti il giorno del nostro matrimonio.</p>
                <p>Di seguito c’è il link di Google Photos, creato per condividere queste preziose memorie. Noi stiamo caricando sia le foto e i video fatti da noi sia quelli fatti dalla fotografa e dall’operatore video.<br>Ti saremmo grati se potessi caricare lì le foto e i video che hai fatto tu quel giorno.</p>
                <br>
                <a href="https://photos.app.goo.gl/w4uRyG88GXg1E8Le8" rel="noopener noreferrer nofollow" target="_blank">Album Condiviso</a>
                <p><small>Facci sapere se hai bisogno di aiuto per caricare, scaricare o visualizzare foto e video.</small></p>
            {% else %}
                <p>We are excited to share with you the memories of our special day. It is a pleasure to see you around us and remember the love you showed us that day. We are eternally grateful for your presence and the effort you made to be there on our wedding day.</p>
                <p>Please see below the link to Google Photos, created to share those precious memories. We are uploading photos and videos we took as well as the ones from our videographer and photographer.<br>We would appreciate if you could upload there the photos and video you took that day.</p>
                <br>
                <a href="https://photos.app.goo.gl/w4uRyG88GXg1E8Le8" rel="noopener noreferrer nofollow" target="_blank">Shared Album</a>
                <p><small>Let us know if you need any help uploading, downloading or viewing photos and videos.</small></p>
            {% endif %}
        </div>
    </div>
</section>
