<section id="{{ site.sections.thanks[locale] | slugify }}" class="{{ site.sections.thanks.en | slugify }} section section-theme--1">
    <div class="container">
        <div class="section-header">
            <h2>{{ site.sections.thanks[locale] }}</h2>
        </div>
        <div class="section-body">
            {% if locale == 'it' %}
                <p>Un grande grazie dal profondo del nostro cuore a coloro che hanno partecipato al nostro matrimonio. Avete reso quel giorno ancora più speciale mostrandoci il vostro amore come mai prima d'ora. Abbiamo sentito che le persone che hanno partecipato erano coloro che volevano davvero esserci, motivati da un affetto puro e onesto. Saremo per sempre grati e onorati di aver trascorso con voi il giorno del nostro matrimonio.</p>
                <p>Un grazie speciale a:</p>
                <ul>
                    <li>
                        <strong>Le bellissime damigelle:</strong>
                        <ul>
                            <li>Ariella de’ Navasquez</li>
                            <li>Claudia Grisanti </li>
                            <li>Francesca Nigro</li>
                            <li>Benedetta Lustri (dall’Italia)</li>
                        </ul>
                    </li>
                    <li>
                        <strong>L’unico e il solo best man:</strong>
                        <ul>
                            <li>Massimo Ruggiriello</li>
                        </ul>
                    </li>
                    <li>
                        <strong>I nostri cari testimoni:</strong>
                        <ul>
                            <li>Tebas Santana Martinez</li>
                            <li>Slawomir Malczewski</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Il DJ della cerimonia:</strong>
                        <ul>
                            <li>Paulo Castro Malczewski</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Coloro che hanno stretto il nodo:</strong>
                        <ul>
                            <li>Kyle Rumbaua</li>
                            <li>Tebas Santana Martinez</li>
                            <li>Nataliya Horokhovatska</li>
                            <li>Oxana Horokhovatska</li>
                            <li>Medbh Boyle</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Discorso tenuto da:</strong>
                        <ul>
                            <li>Giuseppina Gianni</li>
                            <li>Livio Loiotile</li>
                            <li>Oksana Horokhovatska</li>
                        </ul>
                    </li>
                    <li>
                        <strong>La nostra celebratrice:</strong>
                        <ul>
                            <li>Medbh Boyle</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Parrucchiera:</strong>
                        <ul>
                            <li>Claire Barry</li>
                        </ul>
                    </li>
                    <li>
                        <strong>La nostra dolce fotografa:</strong>
                        <ul>
                            <li>Iwona Kwiatkowska</li>
                        </ul>
                    </li>
                    <li>
                        <strong>L’operatore video:</strong>
                        <ul>
                            <li>Michal Rygielski</li>
                        </ul>
                    </li>
                    <li>
                        <strong>I vicitori della sfida:</strong>
                        <ul>
                            <li>
                                <strong>1º classificati – Tavolo Gingerbread Man</strong>
                                <ul>
                                    <li>Francesca Nigro</li>
                                    <li>Nikhil Dasari</li>
                                    <li>Luca Loiotile</li>
                                    <li>Ariella de’ Navasquez</li>
                                </ul>
                            </li>
                            <li>
                                <strong>2º classificati – Tavolo Kutia</strong>
                                <ul>
                                    <li>Massimo Gianni</li>
                                    <li>Fabiola Gianni</li>
                                    <li>Oksana Horokhovatska</li>
                                    <li>Nataliya Horokhovatska</li>
                                    <li>Giuseppina Gianni</li>
                                    <li>Livio Loiotile</li>
                                    <li>Lucilla Loiotile</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>L’amico che è andato via prima:</strong>
                        <ul>
                            <li>Federico Lustrissimi</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Una nuova amica:</strong>
                        <ul>
                            <li>Alessandra</li>
                        </ul>
                    </li>
                </ul>
                <br>
                <h2>Grazie!</h2>
            {% else %}
                <p>A big thank you from the bottom of our hearts to those who attended our wedding. You made that day all the more special by showing your love for us like never before. We felt that the people who attended were those who really wanted to be there, motivated by pure and honest affection. We will be forever grateful and honoured to have spent our special day with you.</p>
                <p>A special thanks to:</p>
                <ul>
                    <li>
                        <strong>The beautiful bride’s maids:</strong>
                        <ul>
                            <li>Ariella de’ Navasquez</li>
                            <li>Claudia Grisanti </li>
                            <li>Francesca Nigro</li>
                            <li>Benedetta Lustri (dall’Italia)</li>
                        </ul>
                    </li>
                    <li>
                        <strong>The one and only best man:</strong>
                        <ul>
                            <li>Massimo Ruggiriello</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Our dear witnesses:</strong>
                        <ul>
                            <li>Tebas Santana Martinez</li>
                            <li>Slawomir Malczewski</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Ceremony DJ:</strong>
                        <ul>
                            <li>Paulo Castro Malczewski</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Those who tied the knot:</strong>
                        <ul>
                            <li>Kyle Rumbaua</li>
                            <li>Tebas Santana Martinez</li>
                            <li>Nataliya Horokhovatska</li>
                            <li>Oxana Horokhovatska</li>
                            <li>Medbh Boyle</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Speeches:</strong>
                        <ul>
                            <li>Giuseppina Gianni</li>
                            <li>Livio Loiotile</li>
                            <li>Oksana Horokhovatska</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Our celebrant:</strong>
                        <ul>
                            <li>Medbh Boyle</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Hairdresser:</strong>
                        <ul>
                            <li>Claire Barry</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Our lovely photographer:</strong>
                        <ul>
                            <li>Iwona Kwiatkowska</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Videographer:</strong>
                        <ul>
                            <li>Michal Rygielski</li>
                        </ul>
                    </li>
                    <li>
                        <strong>The challenge’s winners:</strong>
                        <ul>
                            <li>
                                <strong>1º place – Table Gingerbread Man</strong>
                                <ul>
                                    <li>Francesca Nigro</li>
                                    <li>Nikhil Dasari</li>
                                    <li>Luca Loiotile</li>
                                    <li>Ariella de’ Navasquez</li>
                                </ul>
                            </li>
                            <li>
                                <strong>2º place – Table Kutia</strong>
                                <ul>
                                    <li>Massimo Gianni</li>
                                    <li>Fabiola Gianni</li>
                                    <li>Oksana Horokhovatska</li>
                                    <li>Nataliya Horokhovatska</li>
                                    <li>Giuseppina Gianni</li>
                                    <li>Livio Loiotile</li>
                                    <li>Lucilla Loiotile</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>The friend who left early:</strong>
                        <ul>
                            <li>Federico Lustrissimi</li>
                        </ul>
                    </li>
                    <li>
                        <strong>A new friend:</strong>
                        <ul>
                            <li>Alessandra</li>
                        </ul>
                    </li>
                </ul>
                <br>
                <h2>Thank you!</h2>
            {% endif %}
        </div>
    </div>
</section>