<section id="{{ site.sections.vows[locale] | slugify }}" class="{{ site.sections.vows.en | slugify }} section section-theme--2">
    <div class="container">
        <div class="section-header">
            {% include 'svgs/vows.svg' %}
            <h2>{{ site.sections.vows[locale] }}</h2>
        </div>
        <div class="section-body">
            {% if locale == 'it' %}
                <figure class="icon">
                    {% include 'svgs/elena.svg' %}
                </figure>
                <h3>Elena</h3>
                <p>In questo giorno io, Elena, giuro a te, Roman, di essere sempre le tue ali per portarti in alto quando starai per cadere, ma anche per portarti ben oltre le stelle dove la felicità è solo nostra. Prometto di amarti, rispettarti e sostenerti per tutti gli anni avvenire. Sempre motivati dall'intenzione di rendere la nostra vita un'entusiasmante opera d'arte, vissuta pienamente l'uno nelle braccia dell'altra. Se le nostre anime si separeranno, faccio oggi un voto eterno di trovare la strada verso te e stare insieme nuovamente e per sempre.</p>
                <figure class="icon">
                    {% include 'svgs/roman.svg' %}
                </figure>
                <h3>Roman</h3>
                <p>Elena, ti amo, micetta. Oggi mi dono a te in matrimonio. Prometto di incoraggiarti e ispirarti, di ridere con te e di confortarti nei momenti di dolore e lotta. C'è solo una vita davanti a noi, e le nostre stagioni saranno buone e lunghe. Prometto di amarti, onorarti e amarti, qualunque cosa accada, finché vivremo. Ricorda, ti sosterrò sempre tra le mie mani.</p>
                <hr>
                <h2>Cerimonia del Handfasting</h2>
                <p>L'handfasting è un antico rituale celtico, da qui deriva l'origine del termine inglese “Tying the knot” (stringere il nodo). Si utilizzava prima che molte persone potessero permettersi di scambiarsi gli anelli. Oggigiorno si utilizza per offrire alla coppia la benedizione degli elementi di Acqua, Terra, Fuoco e Aria e ciò che simboleggiano nelle tradizioni celtiche.</p>
                <img srcset="/static/handfasting-ceremony.jpg 1x, /static/handfasting-ceremony@1.5x.jpg 1.5x, /static/handfasting-ceremony@2x.jpg 2x" alt="">
                <ul>
                    <li><strong>Verde</strong> (Kyle - amico degli sposi) Benedicendo questa unione con i doni della Terra, di salute e ricchezza, poiché queste sono le mani che costruiranno con te nei momenti di forza e ti sosterranno nei momenti di bisogno.</li>
                    <li><strong>Rosso</strong> (Tebas - testimone e amico caro) Benedicendo questa unione con i doni della Fiamma della passione e del romanticismo, poiché queste sono le mani che ti terranno mentre balli e ti mostreranno amore.</li>
                    <li><strong>Blu</strong> (Nataliya- sorella di Roman) Benedicendo questa unione con i doni delle Acque della pace e della chiara comunicazione, poiché queste sono le mani che diranno la verità e risolveranno i problemi con te.</li>
                    <li><strong>Giallo</strong> (Oksana - Mamma di Roman) Benedicendo questa unione con i doni del Cielo con gioia e risate, poiché queste sono le mani che ti condurranno nelle avventure e ti aiuteranno a rispolverarti se cadi.</li>
                    <li><strong>Viola</strong> (Medbh - Celebratrice) Benedetta sia questa unione con i doni degli Eteri, dell'innocenza e dell'alchimia, perché queste sono le mani che ti mostreranno la magia e creeranno con te le storie della tua vita.</li>
                </ul>
            {% else %}    
                <figure class="icon">
                    {% include 'svgs/elena.svg' %}
                </figure>
                <h3>Elena</h3>
                <p>On this day I, Elena, vow to you, Roman, to always be your wings in order to take you higher when you are about to fall, but also to take you far beyond the stars where happiness is ours. I promise to love you, respect you and support you for all the years ahead of us. Always motivated by the intention of making our lives an exciting work of art, lived fully in the arms of one another. If our souls will grow apart, I make today an everlasting vow to find the way to you, and be together forever more.</p>
                <figure class="icon">
                    {% include 'svgs/roman.svg' %}
                </figure>
                <h3>Roman</h3>
                <p>Elena, I love you, micetta. Today I give myself to you in marriage. I promise to encourage and inspire you, to laugh with you, and to comfort you in times of sorrow and struggle. There is only one life before us, and our seasons will be good and long. I promise to love, honour, and cherish you, no matter what, for as long as we shall live. Remember, I always will hold you with my hands.</p>
                <hr>
                <h2>Handfasting Ceremony</h2>
                <p>Handfasting is an old Celtic ritual, which is the origin of the term ‘Tying the knot’. It was used before many people could afford to exchange rings. Nowdays it is used to offer blessings to the couple of the elements of Water, Earth, Fire and Air, and what they symbolise in the Celtic traditions.</p>
                <img srcset="/static/handfasting-ceremony.jpg 1x, /static/handfasting-ceremony@1.5x.jpg 1.5x, /static/handfasting-ceremony@2x.jpg 2x" alt="">
                <ul>
                    <li><strong>Green</strong> (Kyle - couple’s friend) Blessing this union with the gifts of Earth of health and wealth, for these are the hands that will build with you in times of strength and support you in times of need.</li>
                    <li><strong>Red</strong> (Tebas - witness and dear friend) Blessing this union with the gifts of the Flame of passion and romance, for these are the hands that will hold you as you dance and show you love.</li>
                    <li><strong>Blue</strong> (Nataliya - Roman’s sister) Blessing this union with the gifts of the Waters of peace and clear communication, for these are the hands that will speak the truth and solve problems with you.</li>
                    <li><strong>Yellow</strong> (Oksana - Roman’s mom) Blessing this union with the gifts of the Sky with joy and laughter, for these are the hands that will lead you on adventures and help dust you off if you fall.</li>
                    <li><strong>Purple</strong> (Medbh - celebrant) Blessed be this union with the gifts of Ethers, of innocence and alchemy- for these are the hands that will show you magic and create your life’s stories with you.</li>
                </ul>
            {% endif %}
        </div>
    </div>
</section>