<section id="{{ site.sections.welcome[locale] | slugify }}" class="{{ site.sections.welcome.en | slugify }} section section-theme--1">
    <div class="container">
        <div class="section-header">
            {% include 'svgs/roman-and-elena.svg' %}
            <h2>{{ site.sections.welcome[locale] }}</h2>
        </div>
        <div class="section-body">
            {% if locale == 'it' %}
                <p>Cari amici e parenti,</p>
                <p>È un piacere darvi il benvenuto al sito del nostro matrimonio. Qui troverete tutte le informazioni di cui avrete bisogno prima del nostro giorno speciale. Esso sarà aggiornato con nuovi dettagli come l’agenda del giorno del matrimonio, il menù e altro così che possiate seguirci in questo viaggio emozionante. Dopo l’evento condivideremo un link dove potrete trovare le foto e i video fatti dal nostro fotografo e dove anche voi avrete la possibilità di condividere quelli che avrete fatto voi stessi durante quel giorno.</p>
                <p>Scrollate pure verso il basso per incominciare questo viaggio verso il nostro matrimonio.</p>    
            {% else %}
                <p>Dear friends and family,</p>
                <p>It’s our great pleasure to welcome you to our wedding website. Here you will find all the information you need to know before our special day. It will be updated with new details like the wedding day agenda, the menu, and more so you can follow us on this exciting journey. After the event, we will share a link where you will find pictures and videos taken by our photographer, and you will have the chance to share the ones you’ll take during that day.</p>
                <p>Feel free to scroll down and start this journey toward our wedding day.</p>
            {% endif %}
        </div>
    </div>
</section>