---
title: Home
layout: base
---
<dl>
    <dt>Chi</dt>
    <dd>{{ site.newlyweds[locale] }}</dd>
    <dt>Quando</dt>
    <dd>{{ site.date }}</dd>
    <dt>Dove</dt>
    <dd>{{ site.location[locale] }}</dd>
</dl>
{% image "src/static/roman-and-elena.jpg", "Roman ed Elena", "Roman ed Elena" %}