---
title: Home
layout: layouts/page
---
{% include 'sections/welcome.njk' %}
{% include 'sections/vows.njk' %}
{% include 'sections/media.njk' %}
{% include 'sections/continue.njk' %}
{% include 'sections/dresscode.njk' %}
{% include 'sections/continue.njk' %}
{% include 'sections/agenda.njk' %}
{% include 'sections/continue.njk' %}
{% include 'sections/location-and-booking.njk' %}
{% include 'sections/continue.njk' %}
{% include 'sections/gifts.njk' %}
{% include 'sections/continue.njk' %}
{% include 'sections/contacts.njk' %}
{% include 'sections/thanks.njk' %}
{% include 'sections/winners.njk' %}