---
title: Ciao Mondo!
layout: base
---

<a href="/">{{ site.back[locale] }}</a>

<dl>
    <dt>Chi</dt>
    <dd>{{ site.newlyweds[locale] }}</dd>
    <dt>Quando</dt>
    <dd>{{ site.date }}</dd>
    <dt>Dove</dt>
    <dd>{{ site.location[locale] }}</dd>
</dl>