<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} – {{ site.title[locale] }}{% else %}{{ site.title[locale] }}{% endif %}</title>
        <style>
            /* Webfonts ----------------------------------------------------- */

            @font-face {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                src: local(''), url('/static/quicksand-v29-latin-regular.woff2') format('woff2'), url('/static/quicksand-v29-latin-regular.woff') format('woff');
            }

            @font-face {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 600;
                src: local(''), url('/static/quicksand-v29-latin-600.woff2') format('woff2'), url('/static/quicksand-v29-latin-600.woff') format('woff');
            }
            
            @font-face {
                font-family: 'Sail';
                font-style: normal;
                font-weight: 400;
                src: local(''), url('/static/sail-v16-latin-regular.woff2') format('woff2'), url('/static/sail-v16-latin-regular.woff') format('woff');
            }

            /* Variables ---------------------------------------------------- */

            :root {
                /* Colours -------------------- */
                --color-background: #fff;
                --color-base: #1b1a18;
                --color-brand: #D2A24F;
                --color-brand-hover: #D2A24F;
                --color-highlight: #083AD1;

                /* Typography ----------------- */

                /* Paragraph */

                --text-paragraph-family: 'Quicksand', sans;
                --text-paragraph-line-height: 1.5;
                --text-paragraph-weight: 400;
                --text-paragraph-weight-italic: 400;
                --text-paragraph-weight-bold: 600;
                --text-paragraph-weight-bold-italic: 600;

                /* Heading */

                --text-heading-family: 'Sail', sans;
                --text-heading-line-height: 1;
                --text-heading-weight: 400;
                --text-heading-weight-italic: 400;

                /* Spacing -------------------- */

                --space-tiny: 0.5rem;
                --space-small: 1rem;
                --space-medium: 2rem;
                --space-large: 4rem;
            }

            /* Base --------------------------------------------------------- */

            html {
                overflow-x: hidden;
                scroll-behavior: smooth;
            }

            body {
                font: var(--text-paragraph-weight) 1em/var(--text-paragraph-line-height) var(--text-paragraph-family);
                background-color: var(--color-background);
                color: var(--color-base);
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: var(--text-heading-family);
                font-weight: var(--text-heading-weight);
                line-height: var(--text-heading-line-height);
                color: var(--color-brand);
            }

            h1 { font-size: 4rem }
            h2 { font-size: 2.5rem }
            h3 { font-size: 2rem }
            h4 { font-size: 1.75rem }
            h5 { font-size: 1.5rem }
            h6 { font-size: 1rem }

            h2 + p::first-letter {
                float: left;
                font-family: var(--text-heading-family);
                font-weight: var(--text-heading-weight);
                text-transform: uppercase;
                font-size: 3rem;
                margin-top: calc(var(--space-small) * -1);
                margin-right: var(--space-tiny);
                color: var(--color-brand);
            }

            p {
                margin: 0;
                orphans: 2;
            }

            p + p { text-indent: 2ch }

            i, em, address { font-weight: var(--text-paragraph-weight-italic) }

            strong, b { font-weight: var(--text-paragraph-weight-bold) }

            a { color: var(--color-brand) }
            a:hover { color: var(--color-brand-hover) }

            hr {
                column-span: all;
                border: 0;
                border-bottom: 1px solid var(--color-highlight);
                clear: both;
                display: block;
                height: 1px;
                margin: var(--space-small) 0;
                padding: 0;
            }

            @media (min-width: 37.5rem) {
                hr { margin: var(--space-medium) 0 }
            }

            /* Helpers ------------------------------------------------------ */

            .container {
                margin-inline: auto;
                max-width: 50rem;
            }

            @media (min-width: 50rem) {
                .columns-2 {
                    column-count: 2;
                    column-gap: var(--space-large);
                    /* column-rule: 1px solid var(--color-highlight); */
                }
            }

            /* Layout ------------------------------------------------------- */
            
            header {

            }

            main {
                
            }

        </style>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>