<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} – {{ site.title[locale] }}{% else %}{{ site.title[locale] }}{% endif %}</title>
    </head>
    <body>
        {% include 'components/header.njk' %}
        {% include 'components/nav.njk' %}
        <main>
            <h2>{{ title }}</h2>
            {{ content | safe }}
        </main>
        {% include 'components/footer.njk' %}
    </body>
</html>