---
title: Hello World!
layout: base
---

<a href="/">{{ site.back.en }}</a>

<dl>
    <dt>Who</dt>
    <dd>{{ site.newlyweds.en }}</dd>
    <dt>When</dt>
    <dd>{{ site.date }}</dd>
    <dt>Where</dt>
    <dd>{{ site.location.en }}</dd>
</dl>