---
title: Home
layout: base
---
<dl>
    <dt>Who</dt>
    <dd>{{ site.newlyweds[locale] }}</dd>
    <dt>When</dt>
    <dd>{{ site.date }}</dd>
    <dt>Where</dt>
    <dd>{{ site.location[locale] }}</dd>
</dl>