---
layout: layouts/base
---
<script>
    var language = window.navigator.language || navigator.browserLanguage;
    if ( language == 'it-IT' ) {
        window.location.href = '/it/';
    } else {
        window.location.href = '/en/';
    }
</script>