---
title: Hello World!
layout: base
---

<dl>
    <dt>Who</dt>
    <dd>{{ site.newlyweds }}</dd>
    <dt>When</dt>
    <dd>{{ site.date }}</dd>
    <dt>Where</dt>
    <dd>{{ site.location }}</dd>
</dl>